.Error404Route {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-image: url("image/from_web/404.jpg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}
