.PromotionCard__media-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56.25%; }

.PromotionCard > div:last-child {
  padding-bottom: 24px; }
