@import "style/variable/metric";

.PromotionCard {
  &__media {
    &-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  & > div:last-child {
    padding-bottom: $metric-spacing * 3;
  }
}
