$typography-weight-ultrathin: 100;
$typography-weight-thin: 200;
$typography-weight-light: 300;
$typography-weight-normal: 400;
$typography-weight-medium: 500;
$typography-weight-fat: 600;
$typography-weight-bold: 700;
$typography-weight-extrabold: 800;
$typography-weight-heavy: 900;
